@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
}
.t-center {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #ffffff;
    text-align: center;
}
.t-center span {
    font-size: 20px;
}
.t-view {
    max-width: 500px;
    margin: 20px auto;
    background-color: #E6E8FA;
    padding: 100px 100px;
    border-radius: 12px;
}
.t-view a {
    width: 100px;
    height: 40px;
    text-decoration: none;
    margin: 5px 20px;
}

.loading {
    display: none;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
}
.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    top: 47%;
    left: 47%;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}
@keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    background-color: #6495ed;
}
.loginbox {
    background-color: #fff;
    border-radius: 12px;
    margin: auto;
    width: 430px;
}
.logo {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 15px;
}
.input-form {
    padding: 30px 45px;
    margin: 0;
}
.input-form .form-group {
    margin-bottom: 20px;
    position: relative;
    display: block;
}
.input-form .login-icon {
    position: absolute;
    margin-top: 10px;
    left: 12px;
    width: 18px;
    height: 18px;
}
.input-form .input-username {
    background: url(../images/user.svg) no-repeat;
    background-size: 18px auto;
}
.input-form .input-password {
    background: url(../images/password.png) no-repeat;
    background-size: 18px auto;
    margin-top: 12px;
}
.input-form .form-line {
    height: 41px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 50px;
    padding-right: 8px;
    width: 100%;
    font-size: 14px;
    line-height: 1.4;
    border: 1px solid #cbcbdc;
    border-radius: 4px;
}
.input-form .form-l {
    height: 35px;
    padding: 6px 8px;
    width: 50%;
    font-size: 14px;
    line-height: 1.4;
    border: 1px solid #cbcbdc;
    border-radius: 4px;
    float: left;
    margin-bottom: 30px;
}
.input-form .btn {
    background-color: #5CACEE;
    background-image: -webkit-linear-gradient(left bottom,rgba(159,88,150,0) 0,rgba(159,88,150,0.6) 100%);
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 340px;
    margin-top: 10px;
}
.help {
    padding: 20px;
    margin-top: 10px;
    font-size: 17px;
    background-color: #f5f5f5;
    border-top: 1 solid #dddddd;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.help a {
    text-decoration: none;
}
.registerbox {
    background-color: #fff;
    border-radius: 12px;
    margin: auto;
    width: 630px;
}
.form-group .form-tag {
    font-size: 17px;
    width: 35%;
    margin-right: 10px;
    margin-top: 3px;
    color: #6e6e6e;
    float: left;
    text-align: right;
}