html, body {
    margin: 0;
    padding: 0;
}
h3 {
    left: 44%;
    position: relative;
}
.addInfo {
    float: right;
    right: 26.8%;
    position: relative;
    margin-top: -27px;
}
#background {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.pop-form {
    background: white;
    max-width: 70%;
    z-index: 2;
    margin: 12% auto;
    overflow: hidden;
    width: 680px;
}
.pop-form a {
    color: white;
    cursor: pointer;
    padding-right: 15px;
}
.closeForm {
    padding: 5px;
    background: #c0c0c0;
}
.close-button {
    float: right;
    font-size: 30px;
}
.closeForm h2 {
    margin: 8px 30px;
    font-size: 20px;
    color: white;
}

.form-content {
    background: white;
    margin: auto;
    height: 330px;
    padding: 10px 40px;
}
#addInfoForm {
    margin: 20px 50px;
    left: 5%;
    position: relative;
}
.form-item {
    margin: 15px 0;
}
.form-label {
    width: 25%;
    position: relative;
    float: left;
    text-align: right;
}
.form-item input {
    width: 45%;
    margin-left: 20px;
    height: 20px;

}
#addInfoForm button {
    position: relative;
    left: 38%;
    margin-top: 15px;
    width: 80px;
    height: 30px;
}

table {
    margin: 0 auto;
    position: relative;
}
th, td {
    width: 130px;
    height: 40px;
    padding: 1px 5px;
    text-align: center;
    /*border: 1px solid #000000;*/
}

td div.active {
    left: 45%;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 5px;
    position: relative;
}
td div.inactive {
    background-color: white;
    border: 1px solid black;
    left: 45%;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    position: relative;

}